<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <span th:text="${bus.id == null}  ? 'Them Xe' : 'Cap Nhat Xe'"></span>
                </div>

                <div class="card-body">
                    <form method="post" th:object="${bus}" th:action="${bus.id == null}
                          ? '/admin/buses' : '/admin/buses/update'">

                        <input type="hidden" th:field="*{id}">

                        <!-- LICENSE -->
                        <div class="form-group">
                            <label>Bien so xe</label>
                            <input type="text" class="form-control" th:field="*{licensePlate}">
                            <small class="text-danger" th:errors="*{licensePlate}"></small>
                        </div>

                        <!-- TYPE -->
                        <div class="form-group">
                            <label>Loai xe</label>
                            <input type="text" class="form-control" th:field="*{busType}">
                            <small class="text-danger" th:errors="*{busType}"></small>
                        </div>

                        <!-- SEATS -->
                        <div class="form-group">
                            <label>So ghe</label>
                            <input type="number" class="form-control" th:field="*{totalSeats}">
                            <small class="text-danger" th:errors="*{totalSeats}"></small>
                        </div>

                        <div class="form-group">
                            <label>Cong ty</label>
                            <input type="text" class="form-control" th:field="*{company}">
                            <small class="text-danger" th:errors="*{company}"></small>
                        </div>

                        <div class="form-group">
                            <label>Tai xe</label>

                            <input type="text"
                                   class="form-control"
                                   th:field="*{driverName}">

                            <small class="text-danger"
                                   th:errors="*{driverName}">
                            </small>

                        </div>

                        <div class="d-flex justify-content-between">

                            <a th:href="@{/admin/buses}" class="btn btn-secondary">
                                Quay lai
                            </a>

                            <button type="submit" class="btn btn-success">
                                <span th:text="${bus.id == null} ? 'Them' : 'Cap nhat'"></span>
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>